In [119]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly as pl
import seaborn as sns
%matplotlib inline

In [120]:
bls_df = pd.read_excel("monthly-listing-3.xlsx",header=1)
bls_df["NAICS_col"] = bls_df["Industry code[1]"].astype(str).str[:2]
bls_df["start_year"] = pd.DatetimeIndex(bls_df["Work stoppage beginning date"]).year
bls_df["end_year"] = pd.DatetimeIndex(bls_df["Work stoppage ending date"]).year
bls_df = bls_df[bls_df['end_year'] >= 1993]
bls_df.head()

,Organizations involved,States,Areas,Ownership,Industry code[1],Union,Union acronym,Union Local,Bargaining unit,Work stoppage beginning date,Work stoppage ending date,Number of workers[2],"Days idle, cumulative for this work stoppage[3]",Note,NAICS_col,start_year,end_year
0,Marine Towing and Transportation Employers' As...,NY,New York,Private industry,488330,International Longshoremen's Association,ILA,NaN,NaN,1988-02-16,1993-12-20,2500.0,2879500.0,"The number of workers decreased to 2,000 in De...",48,1988.0,1993.0
1,Boeing Company,WA,Seattle,Private industry,336411,Seattle Professional Engineering Employees Ass...,SPEEA,NaN,NaN,1993-01-19,1993-01-19,21000.0,21000.0,The union name was changed to the Society of P...,33,1993.0,1993.0
2,Boston Gas Company,MA,Boston,Private industry,22121,United Steelworkers,USW,12003,NaN,1993-01-24,1993-05-20,1000.0,83000.0,"Boston Gas Company also does business as ""Nati...",22,1993.0,1993.0
3,Bituminous Coal Operators Association,"IN, IL, KY, WV",Multiple states,Private industry,212112,United Mine Workers of America,UMWA,NaN,NaN,1993-02-02,1993-03-02,6700.0,103400.0,"Number of workers involved increased from 5,00...",21,1993.0,1993.0
4,Douglas Aircraft,CA,NaN,Private industry,336411,International Association of Machinists,IAM,NaN,NaN,1993-03-02,1993-03-03,6800.0,13600.0,NaN,33,1993.0,1993.0

In [121]:
bls_df_subset = bls_df[~bls_df['States'].isna()]
#bls_df_subset = bls_df_subset[~bls_df_subset['States'].str.contains(",")]
bls_df_subset

,Organizations involved,States,Areas,Ownership,Industry code[1],Union,Union acronym,Union Local,Bargaining unit,Work stoppage beginning date,Work stoppage ending date,Number of workers[2],"Days idle, cumulative for this work stoppage[3]",Note,NAICS_col,start_year,end_year
0,Marine Towing and Transportation Employers' As...,NY,New York,Private industry,488330,International Longshoremen's Association,ILA,NaN,NaN,1988-02-16,1993-12-20,2500.0,2879500.0,"The number of workers decreased to 2,000 in De...",48,1988.0,1993.0
1,Boeing Company,WA,Seattle,Private industry,336411,Seattle Professional Engineering Employees Ass...,SPEEA,NaN,NaN,1993-01-19,1993-01-19,21000.0,21000.0,The union name was changed to the Society of P...,33,1993.0,1993.0
2,Boston Gas Company,MA,Boston,Private industry,22121,United Steelworkers,USW,12003,NaN,1993-01-24,1993-05-20,1000.0,83000.0,"Boston Gas Company also does business as ""Nati...",22,1993.0,1993.0
3,Bituminous Coal Operators Association,"IN, IL, KY, WV",Multiple states,Private industry,212112,United Mine Workers of America,UMWA,NaN,NaN,1993-02-02,1993-03-02,6700.0,103400.0,"Number of workers involved increased from 5,00...",21,1993.0,1993.0
4,Douglas Aircraft,CA,NaN,Private industry,336411,International Association of Machinists,IAM,NaN,NaN,1993-03-02,1993-03-03,6800.0,13600.0,NaN,33,1993.0,1993.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
624,Sutter Health Hospitals,CA,Berkeley,Private industry,622110,California Nurses Association/National Nurses ...,CNA/NNU,NaN,NaN,2022-10-24,2022-10-29,1800.0,9000.0,NaN,62,2022.0,2022.0
625,University of California,CA,Statewide,State government,61131,United Auto Workers,UAW,"Local 2865, 5810",NaN,2022-11-14,2022-12-23,48000.0,1272000.0,"48,000 workers from 11/14-12/11. Number droppe...",61,2022.0,2022.0
626,The New School,NY,NY,Private industry,61131,Academics Come Together - United Auto Workers,ACT-UAW,Local 7902,NaN,2022-11-16,2022-12-10,1700.0,28900.0,NaN,61,2022.0,2022.0
627,New York Times,NY,NY,Private industry,511110,The NewsGuild,TNG-CWA,NaN,NaN,2022-12-08,2022-12-08,1100.0,1100.0,NaN,51,2022.0,2022.0
628,Alta Bates Summit,CA,Oakland and Berkeley,Private industry,622110,California Nurses Association/National Nurses ...,NNU,NaN,NaN,2022-12-24,2023-01-01,1800.0,7200.0,NaN,62,2022.0,2023.0

In [122]:
testing_df = bls_df_subset.copy()
for index, row in testing_df.iterrows():
    if "," in row['States']:
        states_list = row['States'].split(",")
        testing_df.loc[index, 'States'] = states_list[0]
        if index == 3:
            print(states_list)
        for i in np.arange(1,len(states_list)):
            row_2 = row
            row_2['States'] = states_list[i]
            testing_df.loc[testing_df.index.max()+1, :] = row_2
bls_df_subset = testing_df
bls_df_subset

['IN', ' IL', ' KY', ' WV']

,Organizations involved,States,Areas,Ownership,Industry code[1],Union,Union acronym,Union Local,Bargaining unit,Work stoppage beginning date,Work stoppage ending date,Number of workers[2],"Days idle, cumulative for this work stoppage[3]",Note,NAICS_col,start_year,end_year
0,Marine Towing and Transportation Employers' As...,NY,New York,Private industry,488330,International Longshoremen's Association,ILA,NaN,NaN,1988-02-16,1993-12-20,2500.0,2879500.0,"The number of workers decreased to 2,000 in De...",48,1988.0,1993.0
1,Boeing Company,WA,Seattle,Private industry,336411,Seattle Professional Engineering Employees Ass...,SPEEA,NaN,NaN,1993-01-19,1993-01-19,21000.0,21000.0,The union name was changed to the Society of P...,33,1993.0,1993.0
2,Boston Gas Company,MA,Boston,Private industry,22121,United Steelworkers,USW,12003,NaN,1993-01-24,1993-05-20,1000.0,83000.0,"Boston Gas Company also does business as ""Nati...",22,1993.0,1993.0
3,Bituminous Coal Operators Association,IN,Multiple states,Private industry,212112,United Mine Workers of America,UMWA,NaN,NaN,1993-02-02,1993-03-02,6700.0,103400.0,"Number of workers involved increased from 5,00...",21,1993.0,1993.0
4,Douglas Aircraft,CA,NaN,Private industry,336411,International Association of Machinists,IAM,NaN,NaN,1993-03-02,1993-03-03,6800.0,13600.0,NaN,33,1993.0,1993.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
871,John Deere,IL,Multiple,Private industry,333112,United Auto Workers,UAW,Local 74,NaN,2021-10-14,2021-11-17,10000.0,240000.0,The work stoppage involved employees at 14 dif...,33,2021.0,2021.0
872,John Deere,IA,Multiple,Private industry,333112,United Auto Workers,UAW,Local 74,NaN,2021-10-14,2021-11-17,10000.0,240000.0,The work stoppage involved employees at 14 dif...,33,2021.0,2021.0
873,John Deere,KS,Multiple,Private industry,333112,United Auto Workers,UAW,Local 74,NaN,2021-10-14,2021-11-17,10000.0,240000.0,The work stoppage involved employees at 14 dif...,33,2021.0,2021.0
874,CNH Industrial,WI,"Burlington, IA; Racine, WI",Private industry,"33311, 33312",United Auto Workers,UAW,NaN,NaN,2022-05-02,2023-01-21,1000.0,180000.0,NaN,33,2022.0,2023.0
875,Weyerhaeuser Company,WA,Multiple,Private industry,113110,International Association of Machinists and Ae...,IAM,Local Lodge W246,NaN,2022-09-13,2022-10-28,1200.0,39600.0,NaN,11,2022.0,2022.0

In [123]:
bls_df_subset['num_years'] = bls_df_subset["end_year"] - bls_df_subset["start_year"] + 1
bls_df_subset['num_years'].sum()

952.0

In [124]:
testing_df = bls_df_subset.copy()
for index, row in testing_df.iterrows():
    if row['num_years'] > 1:
        i = row['num_years']-1
        start_year = row['start_year']
        while i != 0:
            row_2 = row
            row_2['start_year'] = start_year + i
            testing_df.loc[testing_df.index.max()+1, :] = row_2
            i = i - 1
bls_df_subset = testing_df
bls_df_subset

,Organizations involved,States,Areas,Ownership,Industry code[1],Union,Union acronym,Union Local,Bargaining unit,Work stoppage beginning date,Work stoppage ending date,Number of workers[2],"Days idle, cumulative for this work stoppage[3]",Note,NAICS_col,start_year,end_year,num_years
0,Marine Towing and Transportation Employers' As...,NY,New York,Private industry,488330,International Longshoremen's Association,ILA,NaN,NaN,1988-02-16,1993-12-20,2500.0,2879500.0,"The number of workers decreased to 2,000 in De...",48,1988.0,1993.0,6.0
1,Boeing Company,WA,Seattle,Private industry,336411,Seattle Professional Engineering Employees Ass...,SPEEA,NaN,NaN,1993-01-19,1993-01-19,21000.0,21000.0,The union name was changed to the Society of P...,33,1993.0,1993.0,1.0
2,Boston Gas Company,MA,Boston,Private industry,22121,United Steelworkers,USW,12003,NaN,1993-01-24,1993-05-20,1000.0,83000.0,"Boston Gas Company also does business as ""Nati...",22,1993.0,1993.0,1.0
3,Bituminous Coal Operators Association,IN,Multiple states,Private industry,212112,United Mine Workers of America,UMWA,NaN,NaN,1993-02-02,1993-03-02,6700.0,103400.0,"Number of workers involved increased from 5,00...",21,1993.0,1993.0,1.0
4,Douglas Aircraft,CA,NaN,Private industry,336411,International Association of Machinists,IAM,NaN,NaN,1993-03-02,1993-03-03,6800.0,13600.0,NaN,33,1993.0,1993.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
948,Charter Communications Inc.,NJ,Statewide,Private industry,517110,International Brotherhood of Electrical Workers,IBEW,3,NaN,2017-03-28,2022-04-18,1800.0,2284200.0,NaN,51,2020.0,2022.0,6.0
949,Charter Communications Inc.,NJ,Statewide,Private industry,517110,International Brotherhood of Electrical Workers,IBEW,3,NaN,2017-03-28,2022-04-18,1800.0,2284200.0,NaN,51,2019.0,2022.0,6.0
950,Charter Communications Inc.,NJ,Statewide,Private industry,517110,International Brotherhood of Electrical Workers,IBEW,3,NaN,2017-03-28,2022-04-18,1800.0,2284200.0,NaN,51,2018.0,2022.0,6.0
951,Asarco,TX,Multiple,Private industry,212230,United Steelworkers,USW,District 12,43751,2019-10-13,2020-07-06,1800.0,325800.0,NaN,21,2020.0,2020.0,2.0
952,CNH Industrial,WI,"Burlington, IA; Racine, WI",Private industry,"33311, 33312",United Auto Workers,UAW,NaN,NaN,2022-05-02,2023-01-21,1000.0,180000.0,NaN,33,2023.0,2023.0,2.0

In [125]:
grouped_df = bls_df_subset.groupby(['States','start_year'])['Number of workers[2]'].sum().reset_index()
grouped_df#.head()

    States  start_year  Number of workers[2]
0       AL      1994.0                1200.0
1       AL      2005.0                1500.0
2       AL      2006.0                1500.0
3       AZ      2019.0                4300.0
4       CA      1994.0                1700.0
..     ...         ...                   ...
602     WV      1996.0                1000.0
603     WV      2015.0                2200.0
604     WV      2016.0                2200.0
605     WV      2018.0               36400.0
606     WV      2019.0               36400.0

[607 rows x 3 columns]

In [126]:
grouped_df['Number of workers[2]'].max()
#bls_df_subset[bls_df_subset['States'] == 'AK']

322700.0