In [71]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly as pl
import seaborn as sns
%matplotlib inline

In [103]:
FMCS_df = pd.read_csv("work_stoppages.csv")
FMCS_df = FMCS_df[~FMCS_df['City, State'].isna()]
FMCS_df = FMCS_df[FMCS_df['# Idled'] >= 1000]
FMCS_df["start_year"] = pd.DatetimeIndex(FMCS_df["Start Date"]).year
FMCS_df["end_year"] = pd.DatetimeIndex(FMCS_df["End Date"]).year
FMCS_df = FMCS_df[~FMCS_df['City, State'].str.endswith(", ")]
FMCS_df['State'] = FMCS_df['City, State'].str[-2:]
FMCS_df = FMCS_df[FMCS_df['start_year'] >= 1993]
FMCS_df#[FMCS_df["end_year"].isna()]

,Employer,Union,Union Local,Case Number,BU,NAICS,Industry,"City, State",# Idled,Start Date,End Date,Duration,start_year,end_year,State
6814,Caterpillar Inc,UAW MULTI,NaN,1991JU003706,NaN,NaN,Manufacturing,"Peoria, IL",11500.0,6/21/94,12/4/95,NaN,1994,1995.0,IL
7365,Douglas Aircraft Company (two Locations),IAM 720,NaN,1992KR003410,NaN,NaN,Manufacturing,"Torrance, CA",6759.0,3/2/93,3/3/93,NaN,1993,1993.0,CA
7497,Boeing Company The,SPEEA,NaN,1993BP000528,NaN,NaN,Manufacturing,"Seattle, WA",7000.0,1/21/93,1/22/93,NaN,1993,1993.0,WA
7522,Independent Bituminous Coal Bargaining Allianc...,UMW,NaN,1993CN000462,NaN,NaN,"Mining, Quarrying and Oil & Gas Extraction","Birmingham, AL",1200.0,7/14/93,7/16/93,NaN,1993,1993.0,AL
7524,Fieldcrest Cannon Inc (section 28),ACTWU BI COUNTY N NC & S GA DIST,NaN,1993CN000511,NaN,NaN,Manufacturing,"Eden, NC",1500.0,5/17/93,5/19/93,NaN,1993,1993.0,NC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14262,University of Chicago Medical Center,National Nurses Organizing Committee/National ...,NaN,2019N1800878,2200.0,62.0,Health Care and Social Assistance,"Chicago, IL",2200.0,9/20/19,9/20/19,1.0,2019,2019.0,IL
14271,UIC MEDICAL CENTER,SEIU 73,NaN,2.02012E+11,1100.0,92.0,State Government,"Chicago, IL",1100.0,9/14/20,9/24/20,11.0,2020,2020.0,IL
14275,UIC MEDICAL CENTER,SEIU 73,NaN,2.02012E+11,1500.0,54.0,"Professional, Scientific &Tech Serv","Chicago, IL",1500.0,9/14/20,9/24/20,11.0,2020,2020.0,IL
14277,ASARCO Multiple Unions,USW IBB IAM IUOE IBEW IBT,NaN,2.0209E+11,2108.0,21.0,Mining and Oil & Gas Extraction,"Tucson, AZ",2108.0,10/14/19,NaN,262.0,2019,NaN,AZ
14298,Bath Iron Works,international association of machinist and aer...,NaN,2020N1000874,4000.0,31.0,Manufacturing,"Bath, MA",4300.0,6/22/20,NaN,43.0,2020,NaN,MA

In [104]:
end_years_list = pd.DatetimeIndex(pd.DatetimeIndex(FMCS_df[(FMCS_df["end_year"].isna()) & ~(FMCS_df["Duration"].isna())]['Start Date']) + pd.to_timedelta(
    FMCS_df[(FMCS_df["end_year"].isna()) & ~(FMCS_df["Duration"].isna())]['Duration'], unit='D')).year
FMCS_df.loc[(FMCS_df["end_year"].isna()) & ~(FMCS_df["Duration"].isna()), "end_year"] = end_years_list
FMCS_df.loc[(FMCS_df["end_year"].isna()), "end_year"] = FMCS_df.loc[(FMCS_df["end_year"].isna()), "start_year"]
FMCS_df.loc[(FMCS_df["end_year"].isna()), :]

Empty DataFrame
Columns: [Employer, Union, Union Local, Case Number, BU, NAICS, Industry, City, State, # Idled, Start Date, End Date, Duration, start_year, end_year, State]
Index: []

In [105]:
FMCS_df['num_years'] = FMCS_df["end_year"] - FMCS_df["start_year"] + 1
FMCS_df

,Employer,Union,Union Local,Case Number,BU,NAICS,Industry,"City, State",# Idled,Start Date,End Date,Duration,start_year,end_year,State,num_years
6814,Caterpillar Inc,UAW MULTI,NaN,1991JU003706,NaN,NaN,Manufacturing,"Peoria, IL",11500.0,6/21/94,12/4/95,NaN,1994,1995.0,IL,2.0
7365,Douglas Aircraft Company (two Locations),IAM 720,NaN,1992KR003410,NaN,NaN,Manufacturing,"Torrance, CA",6759.0,3/2/93,3/3/93,NaN,1993,1993.0,CA,1.0
7497,Boeing Company The,SPEEA,NaN,1993BP000528,NaN,NaN,Manufacturing,"Seattle, WA",7000.0,1/21/93,1/22/93,NaN,1993,1993.0,WA,1.0
7522,Independent Bituminous Coal Bargaining Allianc...,UMW,NaN,1993CN000462,NaN,NaN,"Mining, Quarrying and Oil & Gas Extraction","Birmingham, AL",1200.0,7/14/93,7/16/93,NaN,1993,1993.0,AL,1.0
7524,Fieldcrest Cannon Inc (section 28),ACTWU BI COUNTY N NC & S GA DIST,NaN,1993CN000511,NaN,NaN,Manufacturing,"Eden, NC",1500.0,5/17/93,5/19/93,NaN,1993,1993.0,NC,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14262,University of Chicago Medical Center,National Nurses Organizing Committee/National ...,NaN,2019N1800878,2200.0,62.0,Health Care and Social Assistance,"Chicago, IL",2200.0,9/20/19,9/20/19,1.0,2019,2019.0,IL,1.0
14271,UIC MEDICAL CENTER,SEIU 73,NaN,2.02012E+11,1100.0,92.0,State Government,"Chicago, IL",1100.0,9/14/20,9/24/20,11.0,2020,2020.0,IL,1.0
14275,UIC MEDICAL CENTER,SEIU 73,NaN,2.02012E+11,1500.0,54.0,"Professional, Scientific &Tech Serv","Chicago, IL",1500.0,9/14/20,9/24/20,11.0,2020,2020.0,IL,1.0
14277,ASARCO Multiple Unions,USW IBB IAM IUOE IBEW IBT,NaN,2.0209E+11,2108.0,21.0,Mining and Oil & Gas Extraction,"Tucson, AZ",2108.0,10/14/19,NaN,262.0,2019,2020.0,AZ,2.0
14298,Bath Iron Works,international association of machinist and aer...,NaN,2020N1000874,4000.0,31.0,Manufacturing,"Bath, MA",4300.0,6/22/20,NaN,43.0,2020,2020.0,MA,1.0

In [106]:
testing_df = FMCS_df.copy()
for index, row in testing_df.iterrows():
    if row['num_years'] > 1:
        i = row['num_years']-1
        start_year = row['start_year']
        while i != 0:
            row_2 = row
            row_2['start_year'] = start_year + i
            testing_df.loc[testing_df.index.max()+1, :] = row_2
            i = i - 1
FMCS_df = testing_df
FMCS_df

,Employer,Union,Union Local,Case Number,BU,NAICS,Industry,"City, State",# Idled,Start Date,End Date,Duration,start_year,end_year,State,num_years
6814,Caterpillar Inc,UAW MULTI,NaN,1991JU003706,NaN,NaN,Manufacturing,"Peoria, IL",11500.0,6/21/94,12/4/95,NaN,1994.0,1995.0,IL,2.0
7365,Douglas Aircraft Company (two Locations),IAM 720,NaN,1992KR003410,NaN,NaN,Manufacturing,"Torrance, CA",6759.0,3/2/93,3/3/93,NaN,1993.0,1993.0,CA,1.0
7497,Boeing Company The,SPEEA,NaN,1993BP000528,NaN,NaN,Manufacturing,"Seattle, WA",7000.0,1/21/93,1/22/93,NaN,1993.0,1993.0,WA,1.0
7522,Independent Bituminous Coal Bargaining Allianc...,UMW,NaN,1993CN000462,NaN,NaN,"Mining, Quarrying and Oil & Gas Extraction","Birmingham, AL",1200.0,7/14/93,7/16/93,NaN,1993.0,1993.0,AL,1.0
7524,Fieldcrest Cannon Inc (section 28),ACTWU BI COUNTY N NC & S GA DIST,NaN,1993CN000511,NaN,NaN,Manufacturing,"Eden, NC",1500.0,5/17/93,5/19/93,NaN,1993.0,1993.0,NC,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14338,Charter/Spectrum,IBEW 3,3,2.01709E+11,1800.0,54.0,"Professional, Scientific &Tech Serv","New York, NJ",1800.0,3/29/17,NaN,1130.0,2020.0,2020.0,NJ,4.0
14339,Charter/Spectrum,IBEW 3,3,2.01709E+11,1800.0,54.0,"Professional, Scientific &Tech Serv","New York, NJ",1800.0,3/29/17,NaN,1130.0,2019.0,2020.0,NJ,4.0
14340,Charter/Spectrum,IBEW 3,3,2.01709E+11,1800.0,54.0,"Professional, Scientific &Tech Serv","New York, NJ",1800.0,3/29/17,NaN,1130.0,2018.0,2020.0,NJ,4.0
14341,National Grid,USW 12003,12003,2018N1001656,875.0,22.0,Utilities,"Waltham, MA",1200.0,6/25/18,1/7/19,197.0,2019.0,2019.0,MA,2.0
14342,ASARCO Multiple Unions,USW IBB IAM IUOE IBEW IBT,NaN,2.0209E+11,2108.0,21.0,Mining and Oil & Gas Extraction,"Tucson, AZ",2108.0,10/14/19,NaN,262.0,2020.0,2020.0,AZ,2.0

In [107]:
FMCS_df.groupby(["State","start_year"])["# Idled"].sum().reset_index()#['State'].unique()

    State  start_year  # Idled
0      AK      1999.0   1000.0
1      AL      1993.0   1200.0
2      AL      1994.0   1950.0
3      AL      1996.0   1000.0
4      AL      1997.0   1000.0
..    ...         ...      ...
306    WI      2014.0   1477.0
307    WI      2015.0   1910.0
308    WV      2000.0   1516.0
309    WV      2007.0   2500.0
310    WV      2018.0   1598.0

[311 rows x 3 columns]

In [108]:
FMCS_df[FMCS_df['State']=="WI"]

,Employer,Union,Union Local,Case Number,BU,NAICS,Industry,"City, State",# Idled,Start Date,End Date,Duration,start_year,end_year,State,num_years
8257,S N E Corporation (sne),CJA 1594,NaN,1994IU003457,NaN,NaN,Manufacturing,"Mosinee, WI",1000.0,9/1/94,9/11/94,NaN,1994.0,1994.0,WI,1.0
9204,General Motors Corp,UAW 95,NaN,1997BU000349,NaN,NaN,Manufacturing,"Janesville, WI",4800.0,10/30/96,11/7/96,NaN,1996.0,1996.0,WI,1.0
9407,United Parcel Service Master Agreement (ups),IBT MULTI,NaN,1997HU002499,NaN,NaN,Retail Trade,"Milwaukee, WI",185000.0,8/4/97,8/20/97,NaN,1997.0,1997.0,WI,1.0
11999,Plumbing And Mechan Contractors Assn Of Milwaukee,PPF 601,NaN,2004GU002061,NaN,NaN,Construction,"Milwaukee, WI",1750.0,6/1/04,7/12/04,NaN,2004.0,2004.0,WI,1.0
12112,Plumbing & Mechanical Contractors Association,UA Local 601,NaN,2005001V0009,NaN,NaN,Construction,"Milwaukee, WI",1200.0,4/8/05,4/14/05,NaN,2005.0,2005.0,WI,1.0
13255,Sheet Metal and Air Conditioning Contractors A...,SMWIA Local 18,NaN,2010N0501472,NaN,NaN,Construction,"Milwaukee, WI",1500.0,6/15/10,6/27/10,NaN,2010.0,2010.0,WI,1.0
13759,MCA of Northwest WI,Plumbers and Steamfitters Local 400,NaN,2014N1001143,NaN,NaN,Construction,"Appleton, WI",1477.0,6/17/14,6/18/14,NaN,2014.0,2014.0,WI,1.0
13835,Kohler Company,UAW Local 291,NaN,2015N0503947,NaN,NaN,Manufacturing,"Kohler, WI",1910.0,11/16/15,12/17/15,NaN,2015.0,2015.0,WI,1.0