In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly as pl
import seaborn as sns
%matplotlib inline

In [29]:
df = pd.read_csv("statecpi_beta.csv")
df.groupby('state').size()

state
Alabama                 116
Alaska                  152
Arkansas                116
California              152
Colorado                116
Connecticut             116
District of Columbia    152
Florida                 152
Georgia                 152
Hawaii                  152
Illinois                152
Indiana                 116
Kansas                  116
Louisiana               116
Maryland                152
Massachusetts           152
Michigan                152
Minnesota               152
Mississippi             116
Missouri                152
New Jersey              152
New York                152
North Carolina          116
Ohio                    152
Oklahoma                115
Oregon                  152
Pennsylvania            152
South Carolina          116
Tennessee               152
Texas                   152
Utah                    116
Virginia                116
Washington              152
Wisconsin               152
dtype: int64

In [25]:
state_inflation_df = pd.read_csv("statecpi_beta.csv")
for i in ['pi_nt','pi_t','pi']:
    state_inflation_df[i + "_prop"] = state_inflation_df[i]/100+1
state_inflation_df = (state_inflation_df.groupby(['state','year'])[['pi_nt_prop','pi_t_prop','pi_prop']].agg(np.prod)-1)*100
state_inflation_df.rename(columns={'pi_nt_prop': 'pi_nt','pi_t_prop': 'pi_t','pi_prop': 'pi'},inplace=True)
state_inflation_df.reset_index(inplace=True)
state_inflation_df

          state  year      pi_nt       pi_t         pi
0       Alabama  1989  15.782732  18.149607  17.063328
1       Alabama  1990  13.691798  16.391293  15.103246
2       Alabama  1991  24.342764   5.256562  15.858694
3       Alabama  1992   9.125672  -0.824136   5.000021
4       Alabama  1993  13.388873   5.596229  10.185112
...         ...   ...        ...        ...        ...
1170  Wisconsin  2013  10.199952  -1.088311   6.491816
1171  Wisconsin  2014   8.692873   2.716131   6.835408
1172  Wisconsin  2015   5.133358  -9.183445  -0.237336
1173  Wisconsin  2016   2.546422  -5.558837  -0.465041
1174  Wisconsin  2017   9.789466   4.999244   8.737010

[1175 rows x 5 columns]

In [8]:
us_state_inf_to_abbrev = {"state" : {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY",
    "District of Columbia": "DC",
    "American Samoa": "AS",
    "Guam": "GU",
    "Northern Mariana Islands": "MP",
    "Puerto Rico": "PR",
    "United States Minor Outlying Islands": "UM",
    "U.S. Virgin Islands": "VI",
}}
state_inflation_df = state_inflation_df.replace(us_state_inf_to_abbrev)
state_inflation_df

     state  year     pi_nt      pi_t        pi
0       AL  1989  3.731890  4.259430  4.017787
1       AL  1990  3.261621  3.870596  3.580097
2       AL  1991  5.602922  1.297322  3.753404
3       AL  1992  2.210037 -0.201819  1.229188
4       AL  1993  3.191769  1.370943  2.454642
...    ...   ...       ...       ...       ...
1170    WI  2013  2.463678 -0.272824  1.587773
1171    WI  2014  2.105797  0.673934  1.666913
1172    WI  2015  1.260275 -2.379069 -0.058610
1173    WI  2016  0.630993 -1.418147 -0.115902
1174    WI  2017  2.362687  1.229053  2.116452

[1175 rows x 5 columns]